@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --nav-icon-size: 26px;
    --brand-logo-width: 80px;

    --text-dark: #212121;
    --text-light: #ffffff;
    --yellow: #fab464;
    --orange: #ff7231;
    --green: #006e2e;

    --grad-orange: linear-gradient(135deg, #ffc976, #ff0400);
    --grad-green: linear-gradient(135deg, #55c279, #006e2e);
    --grad-yellow: linear-gradient(135deg, #ffe6ac, #fab464, #ff7231);
    --grad-gray-light: linear-gradient(135deg, #ffffff, #f5f5f5, #e6e6e6);
    --grad-gray-dark: linear-gradient(135deg, #212121, #363636, #636363);
}

select:focus {
    border-color: rgba(255, 255, 255, 0) !important;
    box-shadow: none !important;
}

h1 {
    font-family: "Caveat Brush", cursive;
    text-transform: uppercase;
}


h3,
.nav-link,
p,
span,
label {
    font-family: "Poppins", sans-serif !important;
}

h4 {
    font-family: "Caveat", cursive;
    font-weight: 600;
    font-size: 30px;
}

.grad-text {
    background: var(--text-gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.text-orange {
    --text-gradient: var(--grad-orange);
}

.text-green {
    --text-gradient: var(--grad-green);
}

.text-yellow {
    --text-gradient: var(--grad-yellow);
}

.text-gray-light {
    --text-gradient: var(--grad-gray-light);
}

.text-gray-dark {
    --text-gradient: var(--grad-gray-dark);
.form-control.is-invalid, .was-validated .form-control:invalid, .form-control.is-valid, .was-validated .form-control:valid{
    background-image: none;
}